@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#name-input::placeholder {
  font-size: 0.875rem;
}
#bread-amount-input::placeholder {
  font-size: 0.875rem;
}

@media (max-width: 790px) {
  #grid {
    grid-template-columns: minmax(230px, 395px) minmax(230px, 395px);
  }
}

@media (max-width: 530px) {
  #grid {
    grid-template-columns: minmax(230px, 395px);
  }
  #item-list-amounts {
    gap: 6px;
    flex-direction: column;
  }
}

@media (max-width: 627px) {
  #popup {
    width: 330px;
    height: 457px;
  }
  #form-buttons {
    flex-direction: column;
    align-items: center;
  }
  #button-send, #button-cancel {
    width: 260px;
  }
  #form-title {
    text-align: center;
  }
}

